[Unit]
Description=Dockerized Glance
Requires=keystone.service
After=keystone.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/docker start  glance
ExecStop=/usr/bin/docker stop -t 2 glance

[Install]
WantedBy=local.target
