[Unit]
Description=Dockerized Keystone
Requires=mariadb.service rabbitmq.service
After=mariadb.service rabbitmq.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start  keystone
ExecStop=/usr/bin/docker stop -t 2 keystone

[Install]
WantedBy=local.target
