[Unit]
Description=Dockerized Nova-controller
Requires=keystone.service glance.service
After=keystone.service glance.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a nova_controller
ExecStop=/usr/bin/docker stop -t 2 nova_controller

[Install]
WantedBy=multi-user.target
