[Unit]
Description=Dockerized Omd
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a omd
ExecStop=/usr/bin/docker stop -t 2 omd

[Install]
WantedBy=multi-user.target
