[Unit]
Description=Dockerized Omd
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker create --net=host --privileged=true -t \
                 -v /cluster/omd/conf.d:/opt/omd/sites/monitoring/etc/check_mk/conf.d/trinity \
                 -v /cluster/omd/multisite.d:/opt/omd/sites/monitoring/etc/check_mk/multisite.d/trinity \
                 --name=omd controller:5050/omd

ExecStart=/usr/bin/docker start -a omd
ExecStop=/usr/bin/docker stop -t 2 omd

[Install]
WantedBy=multi-user.target
