#
#cmdline

lang en_US
#KICKSTARTNET#

%include /tmp/repos

keyboard "us"

#
# Clear the MBR
#
zerombr

#
# Wipe out the disk
#
clearpart --all --initlabel

#
# Customize to fit your needs
#

#XCAT_PARTITION_START#
#No RAID
%include /tmp/partitioning

#part /boot --fstype ext3 --size=1024
#part swap --size=2048
#part pv.01 --size=1 --grow
#volgroup vg_root pv.01
#logvol  /  --vgname=vg_root  --size=131072  --name=lv_root
#logvol  /tmp  --vgname=vg_root  --size=2048  --name=lv_tmp
#logvol  /var  --vgname=vg_root  --size=8192  --name=lv_var
#logvol  /drbd  --vgname=vg_root  --size=131072  --name=lv_drbd
#logvol  /spare  --vgname=vg_root  --size=1 --grow  --name=lv_spare

#XCAT_PARTITION_END#

bootloader

#
# install or upgrade
#
install

#
# text mode install (default is graphical)
# HTH: changed text into cmdline
#text
cmdline

#
# firewall
#
firewall --disabled

#
# Select a zone
# Add the --utc switch if your hardware clock is set to GMT
#
timezone --utc "#TABLE:site:key=timezone:value#"

#
# Don't do X
#
skipx


#
# To generate an encrypted root password use:
#
# perl -e 'print crypt("blah","Xa") . "\n";'p
# openssl passwd -apr1 -salt xxxxxxxx password
# 
# where "blah" is your root password.
#
rootpw --iscrypted #CRYPT:passwd:key=system,username=root:password#

#
# NIS setup: auth --enablenis --nisdomain sensenet 
# --nisserver neptune --useshadow --enablemd5
#
# OR
auth --useshadow --enablemd5


#
# SE Linux
#
selinux --disabled

#
# Reboot after installation
#
reboot
#
#end of section
#
%packages
#INCLUDE_DEFAULT_PKGLIST#
%end
%pre
#INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/pre.rh.rhel7#
%end
%post
exec < /dev/console > /dev/console
#INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/post.xcat#
%end
