[Unit]
Description=set hostname
After=cloud-final.service
Before=slurm.service
[Service]
Type=oneshot
ExecStart=/usr/sbin/custom_hostname

[Install]
WantedBy=multi-user.target

